@{
    ViewData["Title"] = "Services";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>Interested in a walkthrough, woodworking plans, or a personal session? I'd love to help! Enter how many hours you want to schedule below to get a quote!</p>

<label>Number of Hours:</label>
@* A box for the user to enter the number of hours they need from you *@
<input id="hours" type="number"/>
<br />
<br />
@* An non-editable box that shows how much you charge per hour *@
<label>Hourly Rate ($):</label>
<input type="text" readonly id="rate" value="50">
<br />
<br />
@* A button that allows the user to calculate the total *@
<button type="button" onclick="Calculate()">Calculate!</button>
<br />
<br />
@* An output box that shows the total *@
<label>Total: $</label><label id="total">0</label>


<script src="~/js/Calculator.js"></script>