@{
    //Title on the tab
    ViewData["Title"] = "Garrett's Home";
}
<style> 
    .rotate-image {
           
        transform: rotate(-90deg);
    }
</style>
@* Introduction heading *@
<div class="text-center">
    <h1 class="display-4">Welcome to the Woodworking Extravaganza!</h1>

    <p>Learn about how to make your own wood projects, or even just look for some ideas!</p>
</div>
@* Paragraph about my hobby: *@
<h3>About woodworking:</h3>
<p>
    Woodworking is a timeless craft that involves shaping and manipulating wood into functional or decorative objects. It's a practice that has been around for centuries, dating back to ancient civilizations where skilled artisans crafted intricate furniture, tools, and structures using simple hand tools. Today, woodworking remains a popular hobby and profession, offering both creative expression and practical skills.
</p>
<p>
    One of the most appealing aspects of woodworking is its versatility. Whether you're a beginner or an experienced woodworker, there's always something new to learn and explore. From basic joinery techniques like dovetailing and mortise-and-tenon joints to advanced carving and turning methods, woodworking offers a wide range of skills to master. Additionally, the variety of wood species available allows for endless possibilities in design and aesthetics, with each type of wood offering its own unique grain pattern, color, and texture.
</p>
<p>
    Beyond the technical aspects, woodworking also provides a sense of satisfaction and fulfillment that comes from creating something with your own hands. Whether it's a simple cutting board, a finely crafted piece of furniture, or a custom-built cabinet, the process of taking raw materials and transforming them into a finished product is immensely rewarding. Woodworking also fosters patience, attention to detail, and problem-solving skills, as woodworkers navigate the challenges and complexities of each project.
</p>
    In today's digital age, woodworking offers a welcome respite from screens and technology, allowing individuals to reconnect with the natural world and engage in a hands-on activity that promotes mindfulness and relaxation. Whether pursued as a hobby or a profession, woodworking has enduring appeal and continues to inspire people of all ages to unleash their creativity and explore the endless possibilities of this ancient craft.
</p>

<br />
<br />
<h5>Here are some examples of my work!</h5>
<br />

@* Images: *@
<p>
    <h6>Gun Case:</h6>
    <img src="~/case.jpg" width="300px"/>
    <img src="~/case open.jpg" width="300px" />
    <img src="~/case painted.jpg" height="300px" class="rotate-image" />
</p>


<p>
    <h6>Book Shelf:</h6>
    <img src="~/bookcase.jpg" height="300px"/>
</p>

<p>
    <h6>Frames:</h6>
    <img src="~/frame.jpg" width="300px"/>
</p>


<h5>And much much more!</h5>